<?xml version="1.0" encoding="UTF-8"?>
<packages>
	<package id="adobereader" version="2021.011.20039"/>
	<package id="advanced-ip-scanner" version="2.5.3850"/>
	<package id="arduino" version="1.8.19"/>
	<package id="googlechrome" version="97.0.4692.99"/>
	<package id="firefox" version="96.0.2"/>
	<package id="google-drive-file-stream" version="54.0.3.0"/>
	<package id="logitech-options" version="9.50.269"/>
	<package id="lghub" version="2021.7.91"/>
	<package id="sql-server-management-studio" version="15.0.18390.0"/>
	<package id="geforce-experience" version="3.24.0.126"/>
	<package id="virtualbox" version="6.1.32"/>
	<package id="translucenttb" version="2020.2"/>
</packages>